/*ThiswillbetheCss file for the about page*/

* {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    box-sizing: border-box;
}

/*--Header--*/

header {
    display: grid;
    grid-template-columns: 3 1f 2f 4f;
    justify-content: flex-start;
    z-index: 2;
    border: 1px solid blue;
}

img.vhs {
    display: grid;
    width: 50px;
    height: 50px;
    justify-content: flex-start;
    z-index: 2;
}
    
header h1 {
    display: grid;
    font-size: xx-small;
    color: rgb(255, 255, 255);
    text-shadow: 5px 5px 10px #272727;
    font-family: 'Press Start 2P', cursive;
    width: 150px;
    height: 50px;
    z-index: 2;
}

/*--Burger--*/
.menu-btn {
    display: flex;
    position: fixed;
    left: 1560px;
    top: 8px;
    width: 50px;
    height: 50px;
    justify-content: right;
    align-items: center;
    align-content: flex-start;
    transition: all .5s ease-in-out;
    z-index: 2;
}

.menu-btn .honeymustard {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    cursor: pointer;
    opacity: 0;
}

.burger {
    display: block;
    position: relative;
    height: 3px;
    width: 65%;
    background-color: white;
    border-radius: 4px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 1);
    transition: all .5s ease-in-out;
}

.burger::before,
.burger::after {
    content: '';
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 4px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 1);
    display: flex;
    transition: all .5s ease-in-out;
}

.burger::before {
    transform: translateY(-5px);
}

.burger::after {
    transform: translateY(5px);
}

/*--Toggle Animate--*/
.menu-btn .honeymustard:checked + .burger {
    background: transparent;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0);
}

.menu-btn .honeymustard:checked + .burger::before {
    transform: rotate(45deg)
}

.menu-btn .honeymustard:checked + .burger::after {
    transform: rotate(-45deg)
}

.houdini {
    display: flex;
    /*--visibility: hidden;--*/
    width: 30%;
    height: 100vh;
    background-color: #272727;
    justify-content: end;
    /*--transform: scale(0);--*/
    z-index: 3;

}

.container .houdini > ul > li {
    list-style: none;
    color: white;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 2rem;
    padding: 2rem;
}

.container .houdini > ul > li > a {
    color: inherit;
    text-decoration: none;
}

.menu-btn .honeymustard:checked + div.houdini {
    opacity: 1;
    animation: moveleft 3s ease-in-out 2s infinite alternate;
}

/*--Keyframes--*/

@keyframes moveleft {
    from {
    margin-right: 20%;
    }
    to {
    margin-right: 60%;
    }
}

/*--Nav Animation--*/
.menu-btn .honeymustard:checked + nav {
    display: all
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: blue;
}

.about-section {
background: url(images/vhs_background.png) no-repeat left;
background-color: purple;
overflow: hidden;
padding: 100px 0;
}

.inner-container {
width: 55%;
float: right;
background-color: green;
padding: 150px;
}

.inner-container h1 {
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 900;
}

.text {
    font-size: 13px;
    line-height: 30px;
    text-align: justify;
    margin-bottom: 40px;
}

.skills {
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    font-size: 13px;

}

/*--Footer--*/
    /*--E-Mail--*/
    img.email {
        width: 50px;
        height: auto;
    }
/*--Connect--*/
    img.socials {
        width: 50px;
        height: auto;
    }

    img.ig {
        width: 20px;
        height: auto;
    }

    img.tiktok {
        width: 20px;
        height: auto;
    }

    img.twitter {
        width: 20px;
        height: auto;
    }

    img.youtube {
        width: 20px;
        height: auto;
    }
/*--Copyright--*/
    img.copyright {
        width: 50px;
        height: auto;
    }


@media screen and (max-width:1200px){
    .inner-container{
        padding: 80px;
    }
}

@media screen and (max-width:1000px){
    .about-section {
        background-size: 100%;
        padding: 100px 40px;
    }
    .inner-container{
        padding: 80px;
        width: 100%;
    }
}

@media screen and (max-width:600px){
    .about-section {
        background-size: 100%;
        padding: 100px 40px;
    }
    .inner-container{
        padding: 80px;
        width: 100%;
    }
}