/*--Page--*/
body {
    background: #272727;
    display: flex;
    width: 375px;
    height: 1200px;
    box-sizing: border-box;
    justify-content: center;
}

/*--Burger--*/
.menu-btn {
    position: relative;
    display: all;
    width: 100px;
    height: 100px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    transition: all .5s ease-in-out;
    border: 3px solid #ffffff;
    z-index: 1;

}

/*--Hamburger Line (targeting the div inside honeymustard

div.burger .lettuce > div {
    position: relative;
    height: 2px;
    width: 75%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

Top and Bottom Line (suedo selector before::after)
.burger .lettuce > div:before,
.burger .lettuce > div:after {
    content: '';
    position: absolute;
    z-index: 1;
    top: -10px;
    width: 100%;
    height: 2px;
    background: white;
    transition:
}

Moves line down
.burger .lettuce > div:after {
    top: 10px;
}

Toggle Animate
.burger .honeymustard:checked + .burger > .lettuce {
    transform: rotate(135deg);

}
--*/

header {
    clear: both;
    float: left;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 1);
    width: 375px;
    height: 50px;
}
    
img.vhs {
    float: left;
    width: 70px;
    height: auto;
    margin: 0;
    padding: 0;
}
    
h1 {
    float: left;
    padding: 30 10 0;
    font-size: xx-small;
    Color: White;
    font-family: 'Oswald', sans-serif;
    margin: 0;
}

.background {
    z-index: 0;
}
    