/*--Resets--*/
* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

/*--Media Queries--*/
/*--iPhone Screen--*/
/*--You can leave out "all as" the defualt is all--*/
@media (max-width: 375px) {

    body {
        display: flex;
        width: 100%;
        min-height: 100vh;
        z-index: 1;
        justify-content: center;
        align-items: center;
    }

    /*--Background--*/
    .container {
        background: url("../images/vhs_background.png") no-repeat center center fixed;
        display: flex;
        position: absolute;
        justify-content: flex-start;
        align-content: flex-start;
        width: 100%;
        height: 100%;
        background-size: cover;
        z-index: 0;
    }

    /*--Burger--*/
    .menu-btn {
        display: flex;
        position: fixed;
        left: 340px;
        top: 8px;
        width: 30px;
        height: 30px;
        justify-content: right;
        align-items: center;
        align-content: flex-start;
        transition: all .5s ease-in-out;
        z-index: 2;
    }

    .menu-btn .honeymustard {
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 2;
        cursor: pointer;
        opacity: 0;
    }

    .burger {
        display: block;
        position: relative;
        height: 3px;
        width: 65%;
        background-color: white;
        border-radius: 4px;
        box-shadow: 5px 5px 20px rgba(0, 0, 0, 1);
        transition: all .5s ease-in-out;
    }

    .burger::before,
    .burger::after {
        content: '';
        display: block;
        position: absolute;
        height: 3px;
        width: 100%;
        background-color: white;
        border-radius: 4px;
        box-shadow: 5px 5px 20px rgba(0, 0, 0, 1);
        display: flex;
        transition: all .5s ease-in-out;
    }

    .burger::before {
        transform: translateY(-5px);
    }

    .burger::after {
        transform: translateY(5px);
    }

    /*--Toggle Animate--*/
    .menu-btn .honeymustard:checked + .burger {
        background: transparent;
        box-shadow: 5px 5px 20px rgba(0, 0, 0, 0);
    }

    .menu-btn .honeymustard:checked + .burger::before {
        transform: rotate(45deg)
    }

    .menu-btn .honeymustard:checked + .burger::after {
        transform: rotate(-45deg)
    }

    /*--Header--*/
    img.vhs {
        display: flex;
        position: sticky;
        width: 50px;
        height: 50px;
        justify-content: flex-start;
        z-index: 1;
        clear: right;
    }

    header {
        display: flex;
        position: relative;
        width: 150px;
        height: 50px;
        align-items: center;
        justify-content: center;
        align-content: flex-start;
        z-index: 1;
    }
        
    h1 {
        display: flex;
        font-size: xx-small;
        color: rgb(255, 255, 255);
        text-shadow: 5px 5px 10px #272727;
        font-family: 'Press Start 2P', cursive;
        justify-content: center;
        left: 10px;
    }

    /*--Video--*/
    div.vid {
        display: flex;
        position: sticky;
        left: 0;
        top: 0;
        width: 100vh;
        height: 375px;
        z-index: 1;
        margin: 0;
        padding: 0;
    }

    video.banner {
        width: 100%;
        height: 100%;
    }

}

/*--iPad Screen--*/
@media (max-width: 768px) {

    body {
        display: flex;
        width: 100%;
        min-height: 100vh;
        z-index: 1;
        justify-content: center;
        align-items: center;
    }

    /*--Background--*/
    .container {
        background: url("../images/vhs_background.png") no-repeat center center fixed;
        display: flex;
        position: absolute;
        justify-content: flex-start;
        align-content: flex-start;
        width: 100%;
        height: 100%;
        background-size: cover;
        z-index: 0;
    }

}

/*--Desktop Screen--*/
@media (min-width: 1280px) {

    body {
        display: flex;
        width: 100%;
        min-height: 100vh;
        z-index: 1;
        justify-content: center;
        align-items: center;
    }

    /*--Background--*/
    .container {
        background: url("../images/vhs_background.png") no-repeat center center fixed;
        display: flex;
        position: absolute;
        justify-content: flex-start;
        align-content: flex-start;
        width: 100%;
        height: 100%;
        background-size: cover;
        z-index: 0;
    }

}