 /*--Media Queries--*/
/*--iPhone Screen--*/
/*--You can leave out "all as" the defualt is all--*/
@media (max-width: 375px) {

    body {
        display: flex;
        width: 100%;
        min-height: 100vh;
        z-index: 1;
        justify-content: center;
        align-items: center;
    }

/*--Background--*/
    .container {
        background: url("../images/vhs_background.png") no-repeat center center fixed;
        display: flex;
        position: absolute;
        justify-content: flex-start;
        align-content: flex-start;
        width: 100%;
        height: 100%;
        background-size: cover;
        z-index: 0;
    }

/*--Burger--*/
    .menu-btn {
        display: flex;
        position: fixed;
        left: 340px;
        top: 8px;
        width: 30px;
        height: 30px;
        justify-content: right;
        align-items: center;
        align-content: flex-start;
        transition: all .5s ease-in-out;
        z-index: 2;
    }

    nav {
        display: none;
    }

    .menu-btn .honeymustard {
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 2;
        cursor: pointer;
        opacity: 0;
    }

    .burger {
        display: block;
        position: relative;
        height: 3px;
        width: 65%;
        background-color: white;
        border-radius: 4px;
        box-shadow: 5px 5px 20px rgba(0, 0, 0, 1);
        transition: all .5s ease-in-out;
    }

    .burger::before,
    .burger::after {
        content: '';
        display: block;
        position: absolute;
        height: 3px;
        width: 100%;
        background-color: white;
        border-radius: 4px;
        box-shadow: 5px 5px 20px rgba(0, 0, 0, 1);
        display: flex;
        transition: all .5s ease-in-out;
    }

    .burger::before {
        transform: translateY(-5px);
    }

    .burger::after {
        transform: translateY(5px);
    }

/*--Toggle Animate--*/
    .menu-btn .honeymustard:checked + .burger {
        background: transparent;
        box-shadow: 5px 5px 20px rgba(0, 0, 0, 0);
    }

    .menu-btn .honeymustard:checked + .burger::before {
        transform: rotate(45deg)
    }

    .menu-btn .honeymustard:checked + .burger::after {
        transform: rotate(-45deg)
    }

/*--Nav Animation--*/
.menu-btn .honeymustard:checked + nav {
    display: all
}

/*--Header--*/
    img.vhs {
        display: flex;
        position: absolute;
        width: 50px;
        height: 50px;
        justify-content: flex-start;
        flex-direction: row;
        z-index: 2;
        clear: right;
    }

    header {
        display: flex;
        position: absolute;
        left: 50px;
        width: 150px;
        height: 50px;
        align-items: center;
        z-index: 2;
    }
        
    h1 {
        display: flex;
        font-size: xx-small;
        color: rgb(255, 255, 255);
        text-shadow: 5px 5px 10px #272727;
        font-family: 'Press Start 2P', cursive;
        justify-content: center;
        z-index: 2;
    }

/*--Video--*/
    .banner {
        display: all;
        position: sticky;
        left: 0;
        top: 0;
        right:0;
        width: 375px;
        height: 375px;
        margin: 0;
        padding: 0;
        z-index: 1;
    }

    video {
        width: 100%;
        height: 100%;
        z-index: 1;
    }

}

/*--iPad Screen--*/
@media (max-width: 768px) {

    body {
        display: flex;
        width: 100%;
        min-height: 100vh;
        z-index: 1;
        justify-content: center;
        align-items: center;
    }

/*--Background--*/
    .container {
        background: url("../images/vhs_background.png") no-repeat center center fixed;
        display: flex;
        position: absolute;
        justify-content: flex-start;
        align-content: flex-start;
        width: 100%;
        height: 100%;
        background-size: cover;
        z-index: 0;
    }

/*--Burger--*/
    .menu-btn {
        display: flex;
        position: fixed;
        left: 340px;
        top: 8px;
        width: 30px;
        height: 30px;
        justify-content: right;
        align-items: center;
        align-content: flex-start;
        transition: all .5s ease-in-out;
        z-index: 2;
    }

    .menu-btn .honeymustard {
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 2;
        cursor: pointer;
        opacity: 0;
    }

    .burger {
        display: block;
        position: relative;
        height: 3px;
        width: 65%;
        background-color: white;
        border-radius: 4px;
        box-shadow: 5px 5px 20px rgba(0, 0, 0, 1);
        transition: all .5s ease-in-out;
    }

    .burger::before,
    .burger::after {
        content: '';
        display: block;
        position: absolute;
        height: 3px;
        width: 100%;
        background-color: white;
        border-radius: 4px;
        box-shadow: 5px 5px 20px rgba(0, 0, 0, 1);
        display: flex;
        transition: all .5s ease-in-out;
    }

    .burger::before {
        transform: translateY(-5px);
    }

    .burger::after {
        transform: translateY(5px);
    }

/*--Toggle Animate--*/
    .menu-btn .honeymustard:checked + .burger {
        background: transparent;
        box-shadow: 5px 5px 20px rgba(0, 0, 0, 0);
    }

    .menu-btn .honeymustard:checked + .burger::before {
        transform: rotate(45deg)
    }

    .menu-btn .honeymustard:checked + .burger::after {
        transform: rotate(-45deg)
    }

/*--Nav Animation--*/
.menu-btn .honeymustard:checked + nav {
    display: all
}

/*--Header--*/
img.vhs {
    display: flex;
    position: absolute;
    width: 50px;
    height: 50px;
    justify-content: flex-start;
    flex-direction: row;
    z-index: 2;
    clear: right;
}

header {
    display: flex;
    position: absolute;
    left: 50px;
    width: 150px;
    height: 50px;
    align-items: center;
    z-index: 2;
}
    
h1 {
    display: flex;
    font-size: xx-small;
    color: rgb(255, 255, 255);
    text-shadow: 5px 5px 10px #272727;
    font-family: 'Press Start 2P', cursive;
    justify-content: center;
}

/*--Video--*/
    .banner {
        display: flex;
        position: sticky;
        left: 0;
        top: 0;
        right:0;
        width: 375px;
        height: 375px;
        margin: 0;
        padding: 0;
        z-index: 1;
    }

    video {
        width: 100%;
        height: 100%;
        z-index: 1;
    }

}

/*--Laptop Screen--*/
    
    body {
        display: flex;
        width: 100%;
        min-height: 100vh;
        z-index: 1;
        justify-content: center;
        align-items: center;
    }

/*--Background--*/
    .container {
        background: url("../images/vhs_background.png") no-repeat center center fixed;
        display: flex;
        position: absolute;
        justify-content: flex-start;
        align-content: flex-start;
        width: 100%;
        height: 100%;
        background-size: cover;
        z-index: 0;
    }

/*--Burger--*/
    .menu-btn {
        display: flex;
        position: fixed;
        left: 1250px;
        top: 8px;
        width: 30px;
        height: 30px;
        justify-content: right;
        align-items: center;
        align-content: flex-start;
        transition: all .5s ease-in-out;
        z-index: 2;
    }

    .menu-btn .honeymustard {
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 2;
        cursor: pointer;
        opacity: 0;
    }

    .burger {
        display: block;
        position: relative;
        height: 3px;
        width: 65%;
        background-color: white;
        border-radius: 4px;
        box-shadow: 5px 5px 20px rgba(0, 0, 0, 1);
        transition: all .5s ease-in-out;
    }

    .burger::before,
    .burger::after {
        content: '';
        display: block;
        position: absolute;
        height: 3px;
        width: 100%;
        background-color: white;
        border-radius: 4px;
        box-shadow: 5px 5px 20px rgba(0, 0, 0, 1);
        display: flex;
        transition: all .5s ease-in-out;
    }

    .burger::before {
        transform: translateY(-5px);
    }

    .burger::after {
        transform: translateY(5px);
    }

/*--Toggle Animate--*/
    .menu-btn .honeymustard:checked + .burger {
        background: transparent;
        box-shadow: 5px 5px 20px rgba(0, 0, 0, 0);
    }

    .menu-btn .honeymustard:checked + .burger::before {
        transform: rotate(45deg)
    }

    .menu-btn .honeymustard:checked + .burger::after {
        transform: rotate(-45deg)
    }

/*--Nav Animation--*/
    .menu-btn .honeymustard:checked + nav {
        display: all
    }

/*--Header--*/
    img.vhs {
        display: flex;
        position: absolute;
        width: 50px;
        height: 50px;
        justify-content: flex-start;
        flex-direction: row;
        z-index: 2;
        clear: right;
    }

    header {
        display: flex;
        position: absolute;
        left: 50px;
        width: 150px;
        height: 50px;
        align-items: center;
        z-index: 2;
    }
        
    h1 {
        display: flex;
        font-size: xx-small;
        color: rgb(255, 255, 255);
        text-shadow: 5px 5px 10px #272727;
        font-family: 'Press Start 2P', cursive;
        justify-content: center;
    }

/*--Video--*/
    .banner {
        display: flex;
        position: sticky;
        left: 0;
        top: 0;
        right:0;
        width: 375px;
        height: 375px;
        margin: 0;
        padding: 1;
        z-index: 1;
    }

    

    video {
        width: 100%;
        height: 100%;
        z-index: 1;
    }
